
.form-group .glyphicon-asterisk{
	font-size: 0.5em;
	position: absolute;
	top: 10px;
	color: red;
}

@media ( max-width :768px) {
	.form-group .glyphicon-asterisk{
		font-size: 0.5em;
		position: inherit;
		top: -7px;
		color: red;
	}
}

.categoria-box-select {
	height: 350px;
	width: 100%;
	border: 3px solid black;
	margin-bottom: 5px;
	padding: 10px;
}
.categoria-box-select select {
	width: 100%;
	height: 100%;
	border: 0;
	font-weight: bold;
}

.categoria-box-select option {
	margin-bottom: 2px;
	font-size: 1.1em;
	color: #337ab7;
}

.box-categoria {
	border-color: #337ab7;
}

.box-sub {
	border-color: #337ab7;
}

.cria-anuncio-map-wrapper {
	height: 320px;
	margin-bottom: 18px;
}


#categoria-loading {
	position: absolute;
    margin: auto;
    top: 300px;
    left: 0;
    right: 0;
    bottom: 0;
}

/*==== price table ===== */
.plain-card-body .glyphicon-ok-sign {
	color: green;
	font-size: 1.2em;
}
.plain-card-body .glyphicon-remove-sign {
	color: red;
	font-size: 1.2em;
}


ol, ul {
list-style: none;
}
.btn-signup {
	width: 100%;
	background-color: #343434;
	color: #fff;
	padding: .8em 0;
	font-size: 1.5em;
	border-radius: 3px;
	margin: 1em 0 0;
	text-transform: uppercase;
	border-bottom: 2px solid rgba(0, 0, 0, .2)
}

.btn-signup:hover {
	background-color: #219967
}

.btn-signup:active {
	border-bottom-color: transparent;
	-webkit-transform: translateY(2px);
	-ms-transform: translateY(2px);
	transform: translateY(2px)
}

.btn-featured {
	background-color: #25ae75
}
.signup-section {
	/*background-color: #f2ca26*/
}

.payment-container {
	width: 96%;
	margin: 0 auto;
	max-width: 1200px;
	padding: 2em 0 3.5em;
	position: relative;
	text-align: center
}

.payment-container p {
	margin: 0;
}
.subscribe-title {
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 2em;
	margin-top: 1.5em;
	text-transform: none
}

@media ( max-width :768px) {
	.subscribe-title {
		font-size: 1.3em;
		font-weight: 700;
		margin-bottom: 1.5em;
		text-transform: uppercase
	}
}

.payment-cards {
	display: block;
	margin: 2em auto;
}

@media ( max-width :768px) {
	.payment-cards>div {
		margin: .5em auto;
		width: 100%;
		display: block
	}
	.payment-cards>div .certification, .payment-cards>div .full-access {
		display: none
	}
	.payment-cards>div .plain-total-price {
		display: inline-block;
		vertical-align: middle;
		width: 40%;
		color: #000;
		font-size: 1.2em;
		margin-top: 0
	}
	.payment-cards>div .plain-card-body {
		padding: 1em .5em
	}
	.payment-cards>div .plain-product-info {
		margin: 0
	}
}

div.payment-card-responsive {
	text-align: center;
	display: none
}

div.payment-card-responsive .plain-included {
	color: #25ae75;
	font-size: 1.3em
}

div.payment-card-responsive .certification, div.payment-card-responsive .full-access
	{
	display: block
}

@media ( max-width :768px) {
	div.payment-card-responsive {
		display: block
	}
}

.payment-card {
	width: 33%;
	display: inline-block;
	position: relative;
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
	z-index: 0
}

.payment-card .plain-period {
	background-color: #343434;
	color: #FFF;
	padding: 1em;
	position: relative;
	font-size: 1.7em;
	font-weight: 700;
	margin-bottom: 0;
	text-transform: uppercase
}

@media ( max-width :768px) {
	.payment-card .plain-period {
		font-size: 1.3em;
		padding: .5em 0
	}
}

.payment-card .plain-period .course-name {
	font-weight: 400;
	color: #000;
	font-size: .6em;
	margin-top: .3em;
	text-transform: none
}

@media ( max-width :1024px) {
	.payment-card {
		font-size: 1.2em
	}
}

@media ( max-width :900px) {
	.payment-card {
		font-size: 1em
	}
}

@media ( max-width :768px) {
	.payment-card {
		display: block;
		width: 60%;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}
}

.featuring-cards .path-card {
	margin-right: -2em
}

.featuring-cards .infinity-plus-card {
	margin-left: -1em
}


.featuring-cards .infinity-card {
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, .5);
	z-index: 1;
	width: 36%
}

.featuring-cards .infinity-card .plain-card-body {
	padding: 3.5em 3em
}

@media ( max-width :768px) {
	.featuring-cards .infinity-card .plain-card-body {
		padding: 1em
	}
}

@media ( max-width :768px) {
	.featuring-cards .infinity-plus-card, .featuring-cards .path-card {
		margin: 0 auto
	}
	.featuring-cards .infinity-card {
		width: 100%;
		box-shadow: none;
		z-index: 0
	}
	.featuring-cards .infinity-card .plain-card-body {
		padding: 1em 1.5em
	}
}

.payment-banner {
	background-image: url(../img/tag-indicado.svg);
	background-repeat: no-repeat;
	position: absolute;
	width: 120px;
	height: 120px;
	top: 0;
	left: 100%;
	-webkit-transform: translate(-91%, -9%);
	-ms-transform: translate(-91%, -9%);
	transform: translate(-91%, -9%);
	overflow: visible;
	z-index: 10
}

@media ( max-width :768px) {
	.payment-banner {
		display: none
	}
}

.plain-card-body {
	background-color: #F6F6F6;
	padding: 2.5em
}

.plain-card-body:hover {
	background-color: #F9F9F9
}

.plain-card-body .plain-responsive-price {
	display: none;
	color: #25ae75;
	font-size: 1.3em;
	margin-bottom: .3em
}

@media ( max-width :768px) {
	.plain-card-body .plain-responsive-price {
		display: block
	}
}

.plain-card-body .btn {
	margin-top: .5em
}

.plain-card-price {
	width: 100%;
	margin: 0 auto
}

.plain-card-price .plain-divided-price, .plain-card-price .plain-times {
	display: inline-block;
	vertical-align: middle;
	color: #25ae75;
	font-weight: bold;
}

.plain-card-price .plain-times {
	width: auto;
	margin-right: 5%
}

.plain-card-price .plain-times span {
	display: block
}

.plain-card-price .plain-times span:first-child {
	font-size: 1.7em
}

.plain-card-price .plain-divided-price {
	width: auto;
	font-size: 3em
}

.plain-card-price .plain-total-price {
	color: #999;
	margin-top: .8em;
	display: block
}

@media ( max-width :768px) {
	.plain-card-price {
		display: none
	}
}

.plain-product-info {
	margin: 2em auto 0;
	font-size: .9em;
	text-align: left;
	line-height: 1.2;
	padding-left: 0;
}

.plain-product-info li {
	border-bottom: solid 1px #CCC;
	padding: .7em 0
}

.plain-product-info li span {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.4;
	width: 77%
}

.plain-product-info li:first-child {
	font-size: 22px;
}

.plain-product-info li span.todos-cursos {
	vertical-align: top
}

.plain-product-info li span p {
	font-weight: 400
}

.plain-product-info li span:first-child {
	width: 23%;
	background-position: center;
	text-align: center
}

@media ( max-width :768px) {
	.plain-product-info li {
		border-bottom: none;
		padding: .3em 0
	}
}

.plain-product-info li:last-child {
	border-bottom: none
}

.plain-product-info .icon-checked, .plain-product-info .icon-unchecked {
	background-image: url(/images/alura/checked.svg);
	background-repeat: no-repeat;
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px
}

.plain-product-info .icon-unchecked {
	background-image: url(/images/alura/unchecked.svg);
	width: 21px;
	height: 21px
}

.plain-product-info .icon-unchecked+span {
	color: #999
}

@media ( max-width :768px) {
	.plain-product-info {
		font-size: .9em
	}
	.plain-product-info .not-present {
		display: none
	}
}

.plain-courses span {
	display: inline-block;
	vertical-align: middle
}

.plain-courses span:first-child {
	color: #25ae75;
	font-size: 1.3em
}

.plain-qty-exercises span:first-child {
	color: #25ae75;
	font-size: 1.1em
}

.paypal-logo {
	margin: .5em 0
}

/*============= pagina de confirmacao ======================*/

.anuncio-criado-text {
	font-size: 1.2em;
}

.anuncio-criado-link {
	text-align: center;
	margin-bottom: 20px;
}


/*====================== upload de imagens =================*/


.file-container-wrapper {
	width: 164px;
	height: 164px;
	/*padding-bottom: 20px;*/
}

.file-container {
	width: 164px;
	height: 164px;
	border: 2px dashed black;
	padding: 10px;
	text-align: center;
	position: relative;
	cursor: pointer;
}

.file-container:hover {
	border: 2px solid #face0e;
}

.file-container input {
	filter: alpha(opacity=0);
   opacity: 0;
   overflow: hidden;
   cursor: pointer;
}

.input-container {
	width: 100%;
	height: 100%;
	/*background-color: #bbb;*/
		background: url(https://secure.mlstatic.com/sell/assets/img_camera_ico_retina.png) no-repeat center 65%;
}

.input-container-msg {
	font-size: 22px;
	color: #bbb;
}

/* lista file input */
.file-input-list ul {
	height: 230px;
}
.file-input-list ul li {
	list-style-type: none;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	height: 200px;
	float: left;
}

.img-container {
	background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-controls {
	width: 100%;
	margin-top: 5px;
	/*background-color: black;*/
	text-align: center;
}


/*========================= progress tracker ====================*/
.progress-tracker{
	padding-bottom: 20px;
}

.progress-tracker {
  text-align: center;
}
ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid #face0e;
}
ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-bottom: 4px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: black;
    background-color: #face0e;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
}
/*===================================== fim progress tracker ===================*/
.conteudo-pagina-restrito {
	height: 100%;
}

.conteudo-meus-anuncios > .page-header, h2  {
	margin-top: 0px;
}

.conteudo-pagina-restrito .page-header {
	    margin: 20px 0 20px;
}

.meus-anucios-header {
  background-color: #f5f5f5;
  margin-left: 15px;
  margin-right: 15px;
  padding: 8px 15px;
}

.meus-anucios-header-links {
  margin-top: 22px;
}

.meus-anuncios-body {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;

}


.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}


/*========= estattisticas ==========*/

.meus-anuncios-body-estats {
  margin-top: 20px;
  margin-left: 15px;
}
.stats-visualizacoes {
  /*background-color: pink;*/
  margin-top: 40px;
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
    /*background: red;*/
    border:3px solid #0066FF;
    -moz-border-radius: 125px;
    -webkit-border-radius: 125px;
    border-radius: 125px;
 
}

.stats-visualizacoes-titulo {
  display: block;
  text-align: center;
  text-decoration: underline;
  color: #bbb;
  font-size: 18px;
}

.stats-visualizacoes-numero {
  margin-top: 50px;
  display: block;
  text-align: center;
  font-size: 50px;
  color: #0066FF;
}

.stats-numero {
  font-size: 68px;
  margin-left: 10px;
}


/*===== fim estatisticas ====*/

/*====== informacoes ==========*/






/*===== fim informacoes ==========*/

/*=========== plano ==============*/

.meus-anuncios-info {
  margin-top: 50px;
  display: block;
  text-align: center;
  font-size: 38px;
  color: #0066FF;
}

.meus-anuncios-info-legend {
  display: block;
  text-align: center;
  text-decoration: underline;
  color: #bbb;
  font-size: 18px;
}
/*========== fim plano =================*/



