
/*============================================= fixed footer =========================================*/
html, body {
	height: 100%;
}

#wrapper {
	min-height:100%;
	position:relative;
}
#content-restrito-wrapper {
	background-color: #F7F9FA;
	padding-bottom:1150px; /* Height of the footer element */
}

@media screen and (min-width:480px)  {

	#content-restrito-wrapper {
		padding-bottom:730px; /* Height of the footer element */
	}

}


@media screen and (min-width:780px)  {

	#content-restrito-wrapper {
		padding-bottom:440px; /* Height of the footer element */
	}

}

@media screen and (min-width:992px)  {

	#content-restrito-wrapper {
		padding-bottom:415px; /* Height of the footer element */
	}

}


/*=============================================== fixed footer ================================================*/

#pagina-restrito-conteudo {
	background-color: #F7F9FA;
	padding-top: 20px;
	padding-bottom: 30px;
}

.painel-menu-wraper {
	background-color: #FFF;
	margin-top: 15px;
}

.painel-restrito-item:first-child {
	margin-top: 1.2em;
}
.painel-restrito-item {
	margin-top: 2em;
	background-color: #FFF;
	word-wrap: break-word;
	padding: 0.5em 1em;
}

.painel-restrito-item h2 {
	margin-bottom: 20px;
	margin-top: 10px;
}


@media screen and (min-width:768px)  {

	.navbar-brand-hidden {
		display: none;
	}

	.painel-restrito-item {
		padding: 1.5em 2.5em;
	}

}


/*====================================================== anuncio - view - gerenciar =====================================*/

#pagina-restrito-conteudo .breadcrumb-white {

	margin-top: 15px;
	margin-bottom: 0;
}


.painel-restrito-item ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.painel-item-label {
	font-weight: bold;
}


/*========================================== meus anuncios ===========================================*/

.painel-restrito-item .page-header {
	margin-top: 0;
}


/*================================ menu ==================================*/
.menu-responsivo {
	border: 1px solid #000;
	padding: 10px;
	background-color: #FFF;
}
.toggle-menu {
	font-size: 20px;
	cursor: pointer;
}
.menu-responsivo .toggle-menu {
	display: block;
}
.nav-responsivo > li {
  position: relative;
  display: block;
  margin: 0;
  width: 100%;

}
.nav-responsivo > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav-responsivo {
	display: none;
}

@media screen and (min-width:768px)  {

	.menu-responsivo .toggle-menu {
		display: none;
	}

	.nav-responsivo {
		display: block;
	}

	.menu-responsivo {
		border: 0;
	}

	.nav-responsivo > li {
	  position: relative;
	  display: block;
	  margin-left: 5px;
  	  margin-right: 5px;
  	  width: auto;

  	}
}


/*========================================================= meus anuncios ==============================================*/


.meus-anuncios-content ul li {
	margin-bottom: 15px;
}

.meus-anuncios-wrapper ul {
	list-style: none;
}

.meus-anuncios-wrapper {
	background-color: #f8f7f1;
  	border: 1px solid #CCC;
  	padding: 20px;
}

.meus-anuncios-wrapper:hover, 
.meus-anuncios-wrapper:focus {
  background-color: #E6F0F8;
  border: 1px solid #0064b4;
  cursor: pointer;
}

.meus-anuncios-wrapper:active {
  background-color: #CFD8DF;
  border: 1px solid #00467E;
}

.meus-anuncios-wrapper .logotipo {
  float: right;
  margin-right: 5px;
  width: 25%;
}

.meus-anuncios-wrapper .logotipo .img-thumbnail {
  border: 0;
  padding: 0;
}

.meus-anuncios-wrapper h1 {
	font-size: 24px;
	margin-top: 0;
}


.botao-editar {
	margin-top: 10px;
	width: 100%;
}
.botao-editar a {
	width: 100%;
}

.phone-wrapper {
	margin-top: 10px;
}



@media screen and (min-width:520px)  {


  .meus-anuncios-wrapper .logotipo {
 	 width: auto;
  }

}

@media screen and (min-width:768px)  {

	.phone-wrapper {
		float: left;
	}
	.botao-editar {
		margin-top: 0;
		width: auto;
		float: right;
		margin-right: 5px;
	}
	.botao-editar a {
		width: auto;
	}


}



/*======================================================= gerenciar anuncio ===============================================*/


.item-anuncio-header {
		/*background-color: #f8f7f1;*/
  	/*border: 1px solid #CCC;*/
}

.item-anuncio-header .alert {
	padding: 10px;
}

.item-anuncio-header .glyphicon-remove {
	color: red;
}


/*======================================================= criacao de anuncios ===============================================*/

.form-group .glyphicon-asterisk{
	font-size: 0.5em;
	position: absolute;
	top: 10px;
	color: red;
}

@media ( max-width :768px) {
	.form-group .glyphicon-asterisk{
		font-size: 0.5em;
		position: inherit;
		top: -7px;
		color: red;
	}
}

.categoria-box-select {
	height: 350px;
	width: 100%;
	border: 3px solid black;
	margin-bottom: 5px;
	padding: 10px;
}
.categoria-box-select select {
	width: 100%;
	height: 100%;
	border: 0;
	font-weight: bold;
}

.categoria-box-select option {
	margin-bottom: 2px;
	font-size: 1.1em;
	color: #337ab7;
}

.box-categoria {
	border-color: #337ab7;
}

.box-sub {
	border-color: #337ab7;
}

.cria-anuncio-map-wrapper {
	height: 320px;
	margin-bottom: 18px;
}


#categoria-loading {
	position: absolute;
    margin: auto;
    top: 300px;
    left: 0;
    right: 0;
    bottom: 0;
}



/*====================== upload de imagens =================*/

.file-container-wrapper {
	width: 164px;
	height: 164px;
	/*padding-bottom: 20px;*/
}

.file-container {
	width: 164px;
	height: 164px;
	border: 2px dashed black;
	padding: 10px;
	text-align: center;
	position: relative;
	cursor: pointer;
}

.file-container:hover {
	border: 2px solid #face0e;
}

.file-container input {
	filter: alpha(opacity=0);
   opacity: 0;
   overflow: hidden;
   cursor: pointer;
}

.input-container {
	width: 100%;
	height: 100%;
	/*background-color: #bbb;*/
		background: url(https://secure.mlstatic.com/sell/assets/img_camera_ico_retina.png) no-repeat center 65%;
}

.input-container-msg {
	font-size: 22px;
	color: #bbb;
}

/* lista file input */
.file-input-list ul {
	height: 230px;
}
.file-input-list ul li {
	list-style-type: none;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	height: 200px;
	float: left;
}

.img-container {
	background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-controls {
	width: 100%;
	margin-top: 5px;
	/*background-color: black;*/
	text-align: center;
}
